@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #edede4;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.language img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.language:hover {
  animation: language 2s ease-in-out;
  transform: scale(1.3);
}

.pImageCard {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

.pImageCard:hover {
  transform: scale(1);
}
/* Intro */
.intro-container {
  background-color: #dfdfd2;
  position: relative;
  text-align: center;
  padding: 1rem; /* Adjust as necessary */
  border-radius: 0.5rem; /* Tailwind's rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-md */
  transition: transform 0.2s ease; /* Tailwind's transition-transform */
}

.intro-container:hover {
  transform: scale(1.05); /* Hover scale effect */
}

.intro-paragraph {
  padding-left: 2.5rem; /* Tailwind's px-10 */
  opacity: 0;
  transform: translateY(1rem); /* Translate effect */
  transition:
    opacity 0.7s ease-in-out,
    transform 0.7s ease-in-out; /* Smooth transition */
  display: none; /* Initially hide the paragraph */
}

.intro-container:hover .intro-paragraph {
  display: block; /* Show the paragraph on hover */
  opacity: 1;
  transform: translateY(0);
}

.html {
  background-image: url(../images/html.png);
}
.css {
  background-image: url(../images/css.png);
}
.js {
  background-image: url(../images/js.png);
}
.wp {
  background-image: url(../images/wp.png);
}
.react {
  background-image: url(../images/react.png);
}
.tailwind {
  background-image: url(../images/tw.png);
}
.bootstrap {
  background-image: url(../images/bs.png);
}
.figma {
  background-image: url(../images/figma.jpeg);
}

/* Fades  */

.fadeT {
  animation: fadeInFromAbove 2s ease-in-out;
}

@keyframes fadeInFromAbove {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.fadeInR {
  animation: fadeInFromRight 2s ease-in-out;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.fadeInL {
  animation: fadeInFromLeft 2s ease-in-out;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
